.ElMapa{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg-color);
}
.mapDiv{
  margin: 0.5rem 2rem;
  border-radius: 1rem;
    width: 100%;
    height: 35rem;
  }